# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Generic Tests

on:
  workflow_dispatch
  schedule:
    - cron: "0 0 * * *"

jobs:
  check_date:
    runs-on: ubuntu-latest
    name: Check latest commit
    outputs:
      should_run: ${{ steps.should_run.outputs.should_run }}
    steps:
    - uses: actions/checkout@v3
    - name: print latest_commit
      run: echo ${{ github.sha }}
    - id: should_run
      continue-on-error: true
      name: check if latest commit is less than 1 day old
      if: ${{ github.event_name == 'schedule' }}
      run: test -z $(git rev-list --after="24 hours" ${{ github.sha }}) && echo "::set-output name=should_run::false"
  build:
    needs: check_date
    if: ${{ needs.check_date.outputs.should_run != 'false' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - uses: actions/cache@v3
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }} #-${{ hashFiles('dev-requirements.txt') }}
    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        sudo apt install -y gcc cmake gperf libgmp-dev
        python -m pip install --upgrade pip
        pip install pytest
        /bin/bash setup.sh --no-gigahorse
    - name: Test with pytest
      run: |
        source venv/bin/activate
        cd tests
        pytest
        
